[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-taggit = "*"
requests = "*"
django-polymorphic = "*"
python-dotenv = "*"
gunicorn = "*"
psycopg2-binary = "*"
setuptools = ">=80.9.0"
whitenoise = "*"
django = ">=6.0.3"
urllib3 = ">=2.6.3"
wheel = ">=0.46.2"
mozilla-django-oidc = "*"
cryptography = ">=46.0.7"

[dev-packages]
coverage = "*"
pytest = "*"

[requires]
python_version = "3.12"
