{% extends 'bootstrap_base.html' %}

{% block title %}{{ event.title }}{% endblock %}


{% block content %}
{% load static %}

<div class="container">
    <div class="row align-items-center">
        <div class="col col-md-2">
            <img src="{% static 'tvh-logo.png' %}" width=100>
        </div>
        <div class="col col-md-8 text-center align-middle">
            <h1 class="title 1">{{event.title}}</h1>
        </div>
        <div class="col-md-2">
            <!-- <img src="{% static 'kishido.jpg' %}" width=100> -->
        </div>
    </div>
</div>

<br>

<div class="container">

    <h2 class="subtitle 4">Zeitplan für {{ day|date:"l, j F" }}</h2>

    <div class="vstack gap-3">
        {% for day in days %}
            {% for slot in day.slots %}
                {% if slot.type == "item" %}
                    {% include 'schedule/slot_card.html' %}
                {% endif %}
                {% if slot.type == "group" %}
                    {% include 'schedule/slot_card.html' %}
                {% endif %}
            {% endfor %}
        {% endfor %}        
    </div>
</div>

{% endblock %}