{% extends 'bootstrap_base.html' %}

{% block title %}{{ event.title }}{% endblock %}


{% block content %}
{% load static %}

{% include 'schedule/includes/page_header.html' %}

<div class="container">

    <h2 class="subtitle 4">Zeitplan für {{ day|date:"l, j F" }}</h2>

    <div class="vstack gap-3">
        {% for day in days %}
            {% for slot in day.slots %}
                {% if slot.type == "item" %}
                    {% include 'schedule/slot_card.html' %}
                {% endif %}
                {% if slot.type == "group" %}
                    {% include 'schedule/slot_card.html' %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    {% include 'schedule/includes/page_footer.html' %}
</div>

{% endblock %}